# NextAuth.js Configuration
NEXTAUTH_SECRET=your-secret-key-here-generate-a-secure-one
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
HOSTNAME=0.0.0.0

# Application Configuration
TZ=Asia/Makassar
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1